body {
    color: #555;
margin: 0}

    #header 
    
    
    {
        background-color: #1abc9c; 
        height: 150px; 
        line-height: 150px;
    }

    #header-title {
        display: block;
        float: left;

        font-size: 20px;
        font-weight: bold;
    }

    #header-nav
    li {
        display: inline; 
        padding-left: 20px; }
        {
        display: block;
        float: right; 
        margin-top: 0;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
